.navbar_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  height: 268px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-bottom: 8px solid grey;
}

.navbar_bottom::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.search_container {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 500px;
}

.search_container input {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.search_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #444;
  cursor: pointer;
}

@media (max-width: 500px) {
  .navbar_bottom{
    height: 100px;
  }
  .search_container {
    max-width: 300px;
  }

  .search_container input {
    font-size: 14px;
  }

  .search_icon {
    right: 8px;
  }
}